{% extends "dashboard/base/base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
     <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">User</label>
                    {{ form.user }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    {{ form.phone }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    {{ form.role }}
                </div>
                <div class="form-check mb-3">
                    {{ form.is_active }}
                    <label class="form-check-label">Active</label>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'employee_list_page' %}" class="btn btn-secondary">Cancel</a>
            </form>
</div>
{% endblock %}